@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:  sans-serif;
  padding: 35px 20px;
  background-image: linear-gradient(to right bottom, #d7dfea, #b3c1d4, #91a4be, #6f87a8, #4c6c93);
}
h1, h2, p {
  margin: 0;
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  line-height: 1.6;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}


.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.icon-card{
  float:right;
  width: 35px;
  height: 35px;  
  margin-left: 15px;
  cursor: pointer;
  box-shadow: 5px;
  filter: drop-shadow(3px 3px 3px #0006) ;
  transition: filter 100ms ease;
}
.card {  
  width: min(100%, 300px);
  padding: 20px;
  background-color: rgb(220, 235, 241);
  border-top: 4px solid var(--color-cyan);
  border-radius: 7px;
  box-shadow: 0 10px 20px 0 hsla(234, 12%, 34%, 20%);
  justify-self: center;
 

}

.form-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

}

form{
	width:350px;
	padding:16px;
	border-radius:10px;
  border:1px solid #f6f6f6;
	margin:auto;
	background-color:rgba(129, 222, 245, 0.226);
}

form label{
	width:115px;
	font-weight:normal;
	display:inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"]
{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}
              
 
 input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #9696f1
}

input:focus{
  border-bottom:2px solid #78788c
} 

  button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:1px solid #78788c;
  border-radius: 10px;
  background:0;
  color:#03033b;
  cursor:pointer;
  transition:all .3s
} 
 button:hover{
  background:#a3a3f1;
  color:#fff
}

@media screen and (min-width: 760px){
  body{
    padding-left: 50px;
    padding-right: 50px;
  }
}

 
